@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager
@inject UserServiceWEB userService
@inherits LayoutComponentBase
@inject ILocalStorageService localStorage
@inject NavigationManager navigationManager
@inject ILocalStorageService localStorage

<AuthorizeView>
    <Authorized>
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row">
                <div class="row align-items-center justify-content-end" style="width: 100%;">
                    <div class="col-auto" @onclick="profileEvent" style="cursor: pointer;">
                        <img src="img/user_profile/default.png" width="50" class="rounded-circle">
                    </div>
                    <div title="Перейти к профилю" class="col-auto" @onclick="profileEvent" style="cursor: pointer;">
                        <p class="m-0"><b>@userView.LastName @userView.FirstName</b></p>
                        <p class="m-0">@userView.Specialization</p>
                    </div>
                        <div class="col-auto">
                            <a title="Выйти из профиля" href="/logout">Выйти</a>
                        </div>
                </div>
            </div>

            <article class="content">
                @Body
            </article>
        </main>
    </div>

    <div id="blazor-error-ui" data-nosnippet>
        An unhandled error has occurred.
        <a href="." class="reload">Reload</a>
        <span class="dismiss">🗙</span>
    </div>
    </Authorized>
</AuthorizeView>


@code{
    [CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }

    private ClaimsPrincipal user = new();
    public UserView userView = new();
    public string username = string.Empty;


    private async Task SetUserIdToLocalStorageAsync()
    {
        user = (await AuthStat).User;
        if (user.Identity != null)
        {
            username = user.Identity.Name;
            try
            {
                userView = await userService.GetByUsernameAsync(username);
                if (userView != null)
                    await localStorage.SetItemAsync("userId", userView.Id);
            }
            catch (Exception ex)
            {

            }
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var claims = await ((CustomAuthStateProvider)AuthStateProvider).GetAuthenticationStateAsync();
        if (claims.User.Identity != null)
        {
            if (claims.User.Identity.IsAuthenticated != false)
            {
                await SetUser(claims.User.Identity.Name);
                await SetUserIdToLocalStorageAsync();
            }
        }
        else
        {
            NavigationManager.NavigateTo("/login", true);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var claims = await ((CustomAuthStateProvider)AuthStateProvider).GetAuthenticationStateAsync();
        if (claims.User.Identity != null)
        {
            await SetUserIdToLocalStorageAsync();
        }
    }

    private async Task SetUser(string username)
    {
        if(username != string.Empty)
        {
            userView = await userService.GetByUsernameAsync(username);
            if(userView.IsActive is false)
                navigationManager.NavigateTo($"/logout");
        }
    }
    private async Task profileEvent(MouseEventArgs args)
    {
        await SetUserIdToLocalStorageAsync();
        string userId = await localStorage.GetItemAsync<string>("userId");
        if (userId != string.Empty)
            navigationManager.NavigateTo($"/users/{userId}");
    }
}


