@layout LoginLayout
@page "/login"
@inject AuthenticationStateProvider AuthStateProvider
@inject UserServiceWEB userService
@inject AuthService authService
@inject NavigationManager navigationManager
@* @rendermode @(new InteractiveServerRenderMode(prerender: false)) *@

<title>Страница авторизации</title>

<div class="row">
    <div class="col-md-6">
        <img src="img/logo/logotmk.png" class="img-fluid" />
    </div>
    <div class="col-md-6">
        <EditForm Model="loginModel" FormName="Login" OnValidSubmit="HandleLogin">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <label for="username">Имя пользователя</label>
                <InputText id="username" class="form-control" @bind-Value="loginModel.Username" />
            </div>
            <div class="form-group">
                <label for="password">Пароль</label>
                <InputText type="password" id="password" class="form-control" @bind-Value="loginModel.Password" />
            </div>
            <button type="submit" class="btn btn-success mt-3">Войти</button>
        </EditForm>
    </div>
</div>

<div class="alert mt-2 @ClassesAlert" role="alert">
    @ResponseMessage
</div>


@code {
    public LoginDTO loginModel = new();
    private string ResponseMessage = string.Empty;
    private string ClassesAlert = string.Empty;

    public async Task HandleLogin()
    {
        try
        {
            var response = await userService.LoginAsync(loginModel);
            if (response != null && response.Token != null)
            {
                await ((CustomAuthStateProvider)AuthStateProvider).MarkUserAsAuthenticated(response.Token);
                navigationManager.NavigateTo("/warehouses/main");
            }
            else
            {
                ResponseMessage = response.Message;
                ClassesAlert = "alert-warning";
            }
        }
        catch(Exception ex)
        {
        }
    }
}
