@layout LoginLayout
@page "/login"
@inject AuthenticationStateProvider AuthStateProvider
@inject AuthService authService
@inject NavigationManager navigationManager
@* @rendermode @(new InteractiveServerRenderMode(prerender: false)) *@

<center>
    <div class="col-8 card">
        <div class="row">
            <div class="col-6">
                <p>Logo</p>
            </div>
            <div class="col-6">
                <EditForm Model="loginModel" FormName="Login" OnValidSubmit="HandleLogin">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="form-group">
                        <label for="username">Имя пользователя</label>
                        <InputText id="username" class="form-control" @bind-Value="loginModel.Username" />
                    </div>
                    <div class="form-group">
                        <label for="password">Пароль</label>
                        <InputText type="password" id="password" class="form-control" @bind-Value="loginModel.Password" />
                    </div>
                    <button type="submit" class="btn btn-success mt-3">Войти</button>
                </EditForm>

                <div class="alert mt-2 @ClassesAlert" role="alert">
                    @ResponseMessage
                </div>
            </div>
        </div>
    </div>
</center>



@code {
    public LoginDTO loginModel = new();
    private string ResponseMessage = string.Empty;
    private string ClassesAlert = string.Empty;

    public async Task HandleLogin()
    {
        try
        {
            var response = await authService.LoginAsync(loginModel);
            if (response != null && response.Token != null)
            {
                await ((CustomAuthStateProvider)AuthStateProvider).MarkUserAsAuthenticated(response.Token);
                navigationManager.NavigateTo("/");
            }
            else
            {
                ResponseMessage = response.Message;
                ClassesAlert = "alert-warning";
            }
        }
        catch(Exception ex)
        {
        }
    }
}
